*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.nav-logo{
    
    height: 50px;
    width: 100px;
    
}
.logo{
    padding: 15px;
    font-size: larger;
    color:#FFA500;
    font-weight: 900;
    background-image: url(logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* box 2 */
.add-frist{
    color: #cccccc;
    font-size: 0.85rem ;
    margin-left: 15px;

}
.add-second{
    font-size: 1rem;
    margin-left: 15px;


}
.add-icon{
    display: flex;
    align-items: center;

}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    
    
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border: none;
    
}
.search-input{
    width: 100rem;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd58;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* box4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box6 */
.nav-card i {
    font-size: 30px;
}
.nav-card {
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
}
/* pannel */
.panel{
    height: 40px;
    background-color: #8B4513;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #cccccc;
}
.panel-ops p {
    display: inline;
    margin-left: 15px;
}
.panel-ops p {
    display: inline;
    width: 70%;
    font-size: 0.85rem;

}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero section */
    .Hero-section{
        background-image: url('dog_img.jpg');
        background-size: cover;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

    }

    .hero-msg{
        background-color: #556B2F;
        color: #fff;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        bottom: 25px;
        position: relative;
        width: 100%;
        margin-bottom:25px ;
    }

    /* Shop section */
    .shop-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e7e6;

    }
    
    .box{
        border: 2px solid black;
        height: 400px;
        width: 23%;
        background-color: white; 
        padding: 20px 0px 15px;
        margin-top:15px ;
    }
    .box-image {
        height:300px ;
        background-size: cover;
        background-repeat: content;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;

    }
    .boxp-content{
        margin-left: 1rem;
        margin-right: 1rem;

    }
    .boxp-content p {
        color: #cccccc;
       

    }
    /* footer */
    .foot-panel{
        background-color: #7A9944;
        color: #e2e7e6;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        font-size: 0.85rem;
        margin-top: 15px;
    }
    
    .panel-two{
        background-color: #688E3B;
        color: white;
        height: 300px;
        display: flex;
        justify-content: space-between;
        /* display: table-cell; */
        padding: 0 10px;
        line-height: 120%;
        font-size: 14px;
        

    }
    .p{
        color: white;
        align-items: center;
        font-weight: bold;
       
    }
    ul{
         margin-top: 15px; 
        border-left: 1px solid black; 
        height: 100px;
        
        
    }
    .ul a{
        display: block;
        font: size 0.85ren; 
        margin: 10px;
        color: #dddddd;
        padding: 10px;
        text-decoration: none;
        line-height: 120%;
        text-align-last: center;
        justify-content: space-evenly;
        
        
       
    }
    .foot-panel3{
        background-color: #556B2F;
        color: white;
        border-top: 0.5px solid white;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        background-image: url('amazon_logo.png');
        background-size: cover;
        height: 50px;
        width: 100px;
    }
    .foot-panel4{
        background-color: #435023;
        color: white;
        margin-top: 0.5px;
        /* display: flex; 
        justify-content: center;
        align-items: center; */
      
    }
    .pages{
        font-size: 0.7rem;
        text-align: center;
        padding: 25px;
        background:#435023;
        color: white;


    }
    .CopyRight{
        font-size: 0.7rem;
        text-align: center;
        padding-top: 5px;
        background-color: #364A1D;
        color: white;
        padding: 15px;

    }

    